.container{
    margin-top:50px;
    width:600px;
    height:auto;
    background-color: rgb(224, 221, 221);
    border:1px solid black;
    border-radius: 10px;
    padding:10px;
}
button{
    margin:10px;
padding :10px 20px;
font-size: 35px;
border-radius: 5px;

}

textarea{
    font-size: 30px;
    text-align: right;
    border-radius: 10px;
    
    height:70px;
   margin:5px 5px;
    width:500px;
    
}
.row{
    display:flex;
    justify-content: right;
    padding:0px;
}
.col-12{
    text-align: right;
    padding-right:15px;
}
